name: CI

on: [push, pull_request]

jobs:
  test:
    runs-on: ubuntu-latest
    continue-on-error:
      ${{ contains(fromJson('["snapshot"]'), matrix.emacs_version) }}

    strategy:
      fail-fast: false
      matrix:
        emacs_version:
          - '29.1'
          - '29.2'
          - '29.3'
          - '29.4'
          - '30.1'
          - '30.2'
          - 'snapshot'
    steps:
      - uses: actions/checkout@v4
      - uses: purcell/setup-emacs@master
        with:
          version: ${{ matrix.emacs_version }}
      - uses: conao3/setup-keg@master

      - run: keg install
      - run: keg run test-all

  lint:
    runs-on: ubuntu-latest
    continue-on-error: ${{ true }}
    steps:
      - uses: actions/checkout@v3
      - uses: purcell/setup-emacs@master
        with:
          version: '30.1'
      - uses: conao3/setup-keg@master
      - run: keg lint
